<nav class="navbar-lg wrap">
    <ul>
        <app-navbar-treeview title="Inicio" [options]="[
            { title: 'Inicio', url: '' },
            { title: 'Acerca de Nosotros', url: '#profile' },
            { title: 'Contactános', url: '#contacto' }
        ]">
        </app-navbar-treeview>
        <!-- FIN DE LA OPCION PARA EL INICIO -->

        <!-- OPCION PARA EXPLORAR -->
        <app-navbar-treeview title="Explorar" [options]="[
            { title: 'Destinos Disponibles', url: '/destinos' },
            { title: 'Hoteles Disponibles', url: '/hoteles' },
            { title: 'Estados Disponibles', url: '/estados' },
            { title: 'Categorias Disponibles', url: '/category' }
            
        ]">
        </app-navbar-treeview>
        <!-- FIN OPCION PARA EXPLORAR -->

        <!-- LOGO -->
        <li>
            <a routerLink="">
                <img src="assets/img/guacamaya-tours-logo.svg" alt="Guacamaya Tours">
            </a>
        </li>
        <!-- FIN LOGO -->

        <app-navbar-treeview title="Itinerario" [options]="[
            { title: 'Crea tu Aventura', url: '/itinerario/crear' },
            { title: 'Revisa tu itinerario', url: '/itinerario/ver' }
        ]">
        </app-navbar-treeview>

        <li>
            <a routerLink="/shopping/cart"><i class="fas fa-shopping-cart fa-2x"></i> </a>
        </li>

        <li>
            <a routerLink="/buscar"><i class="fas fa-search fa-2x"></i> </a>
        </li>

    </ul>
</nav>

<!-- PHONE NAVBAR -->
<nav class="navbar-sm">
    <ul>
        <li>
            <a routerLink="" class="logo"><img src="assets/img/guacamaya-tours-logo.svg" alt="Logo"></a>
        </li>
        <li>
            <button (click)="toggleSmNavBar()" class="btn-menu"><i class="fas fa-bars"></i></button>
        </li>
    </ul>
    <div class="navbar-items" [class.active]="showSmNavbar">
        <ul>
            <li>
                <a routerLink="">Inicio</a>
                <a href="#profile">Acerca de Nosotros</a>
                <a href="#contacto">Contacto</a>
            </li>

            <li>
                <a routerLink="/destinos">Destinos Disponibles</a>
                <a routerLink="/hoteles">Hoteles Disponibles</a>
                <a routerLink="/estados">Estados Disponibles</a>
                <a routerLink="/categorias">Categorias Disponibles</a>
            </li>

            <li>
                <a routerLink="/itinerario/crear">Crear Itinerario</a>
                <a routerLink="/itinerario/ver">Revisar Itinerario</a>
            </li>

            <li>
                <a routerLink="/shopping/cart">Carrito</a>
                <a routerLink="/buscar">Buscar</a>
            </li>
        </ul>
    </div>
</nav>