$primaryColor: #F05256;
$secondaryColor: #323232;
$darkColor: #262626;
$cardGradient: radial-gradient(72.17% 72.17% at 50% 27.83%, rgba(38, 38, 38, 0.34) 0%, #262626 100%);

$fontFamily: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

.table-section-horizontal {
    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    &:last-child {
        margin-bottom: 0;
    }

    /**
    * PHONE
    */
    @media (max-width: 480px) {
        grid-template-rows: 200px 1fr;
        grid-template-columns: 1fr;
    }

    &.card {
        height: 250px;
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;

        /**
        * PHONE
        */
        @media (max-width: 480px) {
            height: auto;
        }
    }

    .card-brand {
        position: relative;
        width: 100%;
        height: 100%;
        // background: #000;
        grid-column-start: 1;
        grid-column-end: 2;
        overflow: hidden;

        /**
        * PHONE
        */
        @media (max-width: 480px) {
            grid-column-start: auto;
            grid-column-end: auto;
        }

        img {
            width: auto;
            height: 100%;

            /**
            * PHONE
            */
            @media (max-width: 480px) {
                width: 100%;
                height: 100%;
            }
        }
    }

    .card-body {
        position: relative;
        grid-column-start: 2;
        grid-column-end: 5;
        width: 100%;
        background: $secondaryColor;
        padding: 20px 40px;
        color: #fff;

        /**
        * PHONE
        */
        @media (max-width: 480px) {
            padding: 20px 15px;
            grid-column-start: auto;
            grid-column-end: auto;
        }

        &-title {
            display: flex;
            flex-direction: row;

            /**
            * PHONE
            */
            @media (max-width: 480px) {
                flex-direction: column;
                margin-bottom: 20px;
            }

            h1 {
                display: block;
                height: 50px;
                font-size: 40px;
                font-weight: 900;
                text-transform: uppercase;

                /**
                * PHONE
                */
                @media (max-width: 480px) {
                    height: auto;
                    text-align: center;
                    width: 100%;
                }
            }

            ul.ranking {
                display: flex;
                margin-left: 20px;

                /**
                * PHONE
                */
                @media (max-width: 480px) {
                    margin: auto;
                }

                li {
                    list-style: none;
                    margin-left: 5px;

                    &:first-child {
                        margin-left: 0;
                    }

                    a {
                        font-size: 20px;
                        text-align: center;
                        line-height: 50px;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }

        &-content {
            display: flex;
            flex-direction: row;

            /**
            * PHONE
            */
            @media (max-width: 480px) {
                flex-direction: column;
                width: 100%;
            }

            .box-lg {
                flex: 1;

                /**
                * PHONE
                */
                @media (max-width: 480px) {
                    display: none;
                }

                h2 {
                    margin-bottom: 10px;
                    font-weight: normal;

                    /**
                    * PHONE
                    */
                    @media (max-width: 480px) {
                        text-align: center;
                    }
                }

                ul {
                    padding-left: 20px;

                    /**
                    * PHONE
                    */
                    @media (max-width: 480px) {
                        margin-bottom: 10px;
                    }

                    li {
                        margin-top: 5px;

                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }

            }

            .box-sm {
                display: none;

                /**
                * PHONE
                */
                @media (max-width: 480px) {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    flex: 1;
                }
            }

        }
    }
}