<ng-container *ngIf="loading ; then thenTemplate; else elseTemplate">
<ng-template #thenTemplate>
    <h1>Estoy cargando</h1>
</ng-template>
<ng-template #elseTemplate>
    <h1>Ya cargue</h1>
</ng-template>
</ng-container>


<!-- HEADER -->
<header class="header header-secondary">
    <div class="header-callToAction secondary-CallToAction">
        <h1 class="subtitle">{{destino.name}}<span>{{destino.category.name}}</span></h1>
    </div>
    <div class="header-background" [ngStyle]="{ 'background-image': 'url('+ hotel.imgPresentation +')' }"></div>
</header>
<!-- FIN HEADER -->

<!-- HOTELES Y POSADAS -->
<section class="section wrap">

    <div class="section-header">
        <app-titulo title="Hoteles y Posadas" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, consequuntur sunt autem nam
    asperiores amet necessitatibus ipsa cum perferendis non veritatis optio sequi totam"> </app-titulo>
    </div>

    <div class="section-body">
        <!-- <app-hotel-card></app-hotel-card>         -->
    </div>
    <div class="section-footer">
        <a href="#" class="card-btn-action">Ver Todos los Hoteles en Los Roques <i class="fa fa-chevron-right"></i></a>
    </div>
</section>
<!-- FIN HOTELES Y POSADAS -->

<!-- CULTURA Y GASTRONOMIA -->
<section class="section wrap">

    <app-titulo title="Cultura y Gastronomía" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, consequuntur sunt autem nam
    asperiores amet necessitatibus ipsa cum perferendis non veritatis optio sequi totam"> </app-titulo>

    <div class="section-body">
        <div class="gallery-text">
            <div class="container-gallery">
                <img src="./img/principal.jpg" alt="Foto 1">
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, modi quos! Repellat soluta
                        corporis expedita at cumque explicabo velit fugiat doloremque reiciendis repellendus? Atque,
                        vero.
                    </p>
                </div>
            </div>
            <div class="container-gallery">
                <img src="./img/principal.jpg" alt="Foto 1">
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, modi quos! Repellat soluta
                        corporis expedita at cumque explicabo velit fugiat doloremque reiciendis repellendus? Atque,
                        vero.
                    </p>
                </div>
            </div>
            <div class="container-gallery">
                <img src="./img/principal.jpg" alt="Foto 1">
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, modi quos! Repellat soluta
                        corporis expedita at cumque explicabo velit fugiat doloremque reiciendis repellendus? Atque,
                        vero.
                    </p>
                </div>
            </div>
            <div class="container-gallery">
                <img src="./img/principal.jpg" alt="Foto 1">
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, modi quos! Repellat soluta
                        corporis expedita at cumque explicabo velit fugiat doloremque reiciendis repellendus? Atque,
                        vero.
                    </p>
                </div>
            </div>
            <div class="container-gallery">
                <img src="./img/principal.jpg" alt="Foto 1">
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, modi quos! Repellat soluta
                        corporis expedita at cumque explicabo velit fugiat doloremque reiciendis repellendus? Atque,
                        vero.
                    </p>
                </div>
            </div>
            <div class="container-gallery">
                <img src="./img/principal.jpg" alt="Foto 1">
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, modi quos! Repellat soluta
                        corporis expedita at cumque explicabo velit fugiat doloremque reiciendis repellendus? Atque,
                        vero.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIN CULTURA Y GASTRONOMIA -->

<!-- GALERIA DE FOTOS -->
<section class="section wrap">

    <div class="section-header">
        <app-titulo title="Galeria de Fotos" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, consequuntur sunt autem nam
            asperiores amet necessitatibus ipsa cum perferendis non veritatis optio sequi totam"> </app-titulo>
    </div>

    <div class="section-body">
        <div class="gallery">
            <div class="gallery-img-control">
                <img src="assets/img/los-roques.jpg" alt="">
            </div>
            <div class="gallery-img-control">
                <img src="assets/img/los-roques.jpg" alt="">
            </div>
            <div class="gallery-img-control">
                <img src="assets/img/los-roques.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="section-footer">
        <a href="#" class="card-btn-action">Ver Otros Destinos <i class="fa fa-chevron-right"></i></a>
    </div>
</section>
<!-- FIN GALERIA DE FOTOS -->