<ng-container *ngIf="loading ; then thenTemplate; else elseTemplate"></ng-container>

<ng-template #thenTemplate>
        <app-big-loader [absoluteClass]="true"></app-big-loader>
</ng-template>

<ng-template #elseTemplate>

<!-- HEADER -->
<app-alternative-header title="{{destino.name}}" background="{{destino.imgPresentation}}"></app-alternative-header>
<!-- FIN HEADER -->

<!-- HOTELES Y POSADAS -->
<section class="section wrap">

    <div class="section-header">
        <app-titulo title="Hoteles y Posadas" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, consequuntur sunt autem nam
    asperiores amet necessitatibus ipsa cum perferendis non veritatis optio sequi totam"> </app-titulo>
    </div>

    <div class="section-body">
            <div *ngFor="let hotel of hoteles">
                    <div *ngIf="hotel.destinoId == destino.$key">
                        <a [routerLink]="['/hoteles', hotel.$key]" class="card">
                            <app-hotel-card [hotel]="hotel"> </app-hotel-card>
                        </a>
                    </div>
                </div>
    </div>
    <div class="section-footer">
        <a href="#" class="card-btn-action">Ver Todos los Hoteles en {{destino.name}} <i class="fa fa-chevron-right"></i></a>
    </div>
    
</section>
<!-- FIN HOTELES Y POSADAS -->

<!-- CULTURA Y GASTRONOMIA -->
<section class="section wrap">

    <app-titulo title="Cultura y Gastronomía" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, consequuntur sunt autem nam
    asperiores amet necessitatibus ipsa cum perferendis non veritatis optio sequi totam"> </app-titulo>

    <div class="section-body">
        <div class="gallery-text" >
            <div class="container-gallery" *ngFor="let cultura of destino.imgCultura">
                <img [src]="cultura.path" alt="Foto 1">
            </div>
        </div>
    </div>
</section>
<!-- FIN CULTURA Y GASTRONOMIA -->

<!-- GALERIA DE FOTOS -->
<section class="section wrap">

    <div class="section-header">
        <app-titulo title="Galeria de Fotos" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, consequuntur sunt autem nam
            asperiores amet necessitatibus ipsa cum perferendis non veritatis optio sequi totam"> </app-titulo>
    </div>

    <div class="section-body">
        <div class="gallery">
            <div class="gallery-img-control" *ngFor="let cultura of destino.imgGallery">
                <img [src]="cultura.path" alt="Foto 1">    
            </div>
        </div>
    </div>
    <div class="section-footer">
        <a href="#" class="card-btn-action">Ver Otros Destinos <i class="fa fa-chevron-right"></i></a>
    </div>
</section>
<!-- FIN GALERIA DE FOTOS -->

</ng-template>