<div class="sidebar-top"></div>
<div class="sidebar">
    <section class="user-panel">
        <div class="user-img">
            <!-- <img src="assets/img/user-circle.svg" alt="Foto"> -->
            <i class="fas fa-user-tie"></i>
        </div>
        <div class="user-info">
            <p>Administrador</p>
            <p class="muted">admin@email.com</p>
        </div>
    </section>
    <ul class="sidebar-menu">
        <li class="header">Header</li>

        <li>
            <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}"><i class="fas fa-chart-line"></i> Dashboard</a>
        </li>

        <app-treeview title="Hoteles" icon="fa-hotel"
            [options]="[
                {opt: 'Todos los Hoteles', url: 'hoteles'},
                {opt: 'Crear un nuevo hotel', url: 'hoteles/crear'}
            ]">
        </app-treeview>

        <app-treeview title="Destinos"  icon="fa-route"
            [options]="[
                {opt: 'Todos los Destinos', url:'destinos'},
                {opt: 'Crea un nuevo destino', url:'destinos/crear'}
            ]">
        </app-treeview>

        <app-treeview title="Estados"  icon="fa-route"
            [options]="[
                {opt: 'Todos los Estados', url:'estados'},
                {opt: 'Crea un nuevo estado', url:'estados/crear'}
            ]">
        </app-treeview>

        <app-treeview title="Ordenes" icon="fa-concierge-bell"
            [options]="[{opt: 'Todas las Ordenes', url:''}]"></app-treeview>
    </ul>
</div>