@import 'variables';

.sidebar-top {
    background: $primaryColor;
    height: 50px;
}

.sidebar {
    .user-panel {
        position: relative;
        width: 100%;
        height: 65px;
        padding: 10px;

        .user-img {
            width: 45px;
            height: 45px;
            float: left;

            i {
                display: block;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 45px;
                font-size: 2rem;
            }
        }

        .user-info {
            position: absolute;
            left: 55px;
            padding: 5px 10px;
            font-size: 16px;
            color: #fff;

            &>.muted {
                font-size: 12px !important;
            }
        }
    }

    ul.sidebar-menu {
        width: 100%;
        list-style: none;

        &>.header {
            background: darken($color: #222d32, $amount: 5%);
            color: lighten($color: #222d32, $amount: 15%);
            padding: 10px 25px;
            text-transform: uppercase;
            font-size: 12px;
        }

        li {

            &>button {
                outline: none;
                border: none;
                font-size: inherit;
                color: inherit;
                width: 100%;
                text-align: inherit;
            }

            &>a,
            &>button {
                padding: 12px 5px 12px 15px;
                display: block;
                border-left: 3px solid transparent;
                font-size: 14px;
                text-decoration: none;
                color: #fff;

                &.active {
                    border-left: 3px solid #F05256;
                    background: darken($color: #222d32, $amount: 2%);
                }

                i {
                    color: #fff;
                    margin-right: 10px;
                    font-size: 1.1rem;
                }
            }
        }
    }
}