<div class="table-section-horizontal card" [class.bgDark]="darkColor">
    <div class="card-brand" [ngStyle]="{ 'background-image': 'url('+ hotel.imgPresentation +')' }">
    </div>
    <div class="card-body">
        <div class="card-body-title">
            <a [routerLink]="['/hoteles', hotel.$key]">
                <h1>{{hotel.name}}</h1>
            </a>
            <ul class="ranking">
                <ng-container *ngFor="let estrella of estrellas">
                    <li *ngIf="estrella === 1">
                        <span><i class="fas fa-star"></i></span>
                    </li>
                    <li *ngIf="estrella !== 1">
                        <span><i class="far fa-star colorWhite"></i></span>
                    </li>
                </ng-container>
            </ul>
        </div>
        <div class="card-body-content">
            <div class="box-lg">
                <h2>Servicios</h2>
                <ul>
                    <li *ngFor="let service of hotel.services">
                        <p>{{ service.path }}</p>
                    </li>
                </ul>
            </div>
            <div class="box-lg">
                <h2>Actividades</h2>
                <ul>
                    <li *ngFor="let activity of hotel.activities">
                        <p>{{ activity.path }}</p>
                    </li>
                </ul>
            </div>
            <div class="box-sm">
                <a [routerLink]="['/hoteles', hotel.$key]" class="btn btn-primary">Ver Más</a>
            </div>
        </div>
        <div class="card-body-footer">
            <a [routerLink]="['/hoteles', hotel.$key]" class="btn btn-primary btnMover">Ver más</a>
        </div>
    </div>
</div>