<nav class="navbar-lg wrap">
    <ul>
        <li class="active-link"><a href="/">Inicio <i class="fas fa-chevron-down"></i></a></li>
        <li><a href="#">Explorar <i class="fas fa-chevron-down"></i></a></li>
        <li>
            <a href="#">
                <img src="assets/img/logo.svg" alt="Logo">
            </a>
        </li>
        <li><a href="#">Itinerario <i class="fas fa-chevron-down"></i></a></li>
        <li>
            <a href="#"><i class="fas fa-shopping-cart"></i> </a>
        </li>
        <li>
            <a href="#"><i class="fas fa-search"></i> </a>
        </li>
    </ul>
</nav>

<!-- PHONE NAVBAR -->
<nav class="navbar-sm">
    <ul>
        <li><a href="#"><img src="assets/img/logo.svg" alt="Logo"></a></li>
        <li><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
    <div class="navbar-items">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Explorar</a></li>
            <li><a href="#">Itinerario</a></li>
            <li><a href="#">Buscar</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>