<header class="header">
    <div class="header-callToAction">
        <app-titulo title="Ubica tu itinerario" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, consequuntur sunt autem nam
        asperiores amet necessitatibus ipsa cum perferendis non veritatis optio sequi totam"></app-titulo>
        <div class="blocks">
            <div class="section-buscar">
                <p class="text">
                    Ve los detalles de tu itinerario: 
                </p>
                <input type="text" id="findItinerario" class="selector" placeholder="Ingresa el localizador de tu itinerario">
            </div>
            <div>
                <button class="button-buscar">Buscar</button>
            </div>
        </div>

    </div>
    <div class="header-background" style="background-image: url('assets/img/header-bg.gif')"></div>

</header>
