@import 'variables';

.header {
    display: block;
    width: 100%;
    height: 150vh;
    position: relative;
    

    .saludo {
        padding-top: 10%;
        width: 70%;
        //justify-content: center;
        align-content: center;
        //align-items: center;
        margin: auto;
        display: block;

        /**
        * PHONE
        */
        @media (max-width: 1199px) {
            width: 100%;
        }

        h1 {
            text-align: left;
            padding: 1%;
            color: white;
        }
    }

    .noReservaciones{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            color: #fff;
        }

        a.btn {
            margin-top: 50px;
        }
    }

    .cart {
        //padding-top: 55%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        width: 100%;
        //height: auto;

        .paypal {
            padding-top: 30px;
            padding-left: 20%;

            /**
            * PHONE
            */
            @media (max-width: 1199px) {
                width: 100%;
            }
        }

        .header-callToAction {
        color: white;
        // position: absolute;
        background: transparentize($color: $secondaryColor, $amount: 0.25);
        width: 70%;
        // z-index: 9;
        top: 30%;
        left: 50%;
        // transform: translate(-50%, -50%);
        margin: auto;
        margin-bottom: 3%;

        /**
        * PHONE
        */
        @media (max-width: 1199px) {
            width: 100%;
        }


        .reservation-card {
            padding: 3%;

            h1 {
                padding: 10px;
            }

            .reservation-card-text {

                padding-left: 3%;

                h1 {
                    display: block;
                    padding: 0px;
                }

                h3 {
                    padding: 0.5%;
                }
            }

            .btn-delete {
                display: flex;
                width: 100%;
                justify-content: flex-start;
                align-content: center; 

                /**
                * PHONE
                */
                @media (max-width: 1199px) {
                    width: 100%;
                }

                h3 {
                    padding: 20%;
                }
            }
            }

            .subtotal {
                
                padding: 1%;
                width: 100%;
                background: transparentize($color: $darkColor, $amount: 0.25);

                h2 {
                    padding-right: 5%;
                    text-align: right;
                }

            }

        }

        .total {
            background-color: white;
            width: 70%;
            // float: right;
            margin: auto;

            h1 {
                padding: 20px;
                color: $darkColor;
            }

        }

    }

    .header-background {
        display: block;
        //position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        z-index: 1;
        background-attachment: fixed;
        background-size: cover;

        &::before {
            content: '';
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: $cardGradient;
        }
    }
}