<header class="header">
    <div class="cart">
        <div class="header-callToAction">
            <div class="reservation-card">
                <div class="btn-delete">
                    <h3> <i class="fas fa-times"></i> </h3>
                </div>
                <h1>Hotel - Destino</h1>
                <div class="reservation-card-text">
                    <h3>habitaciones</h3>
                    <h3>fecha</h3>
                </div>
            </div>
            <div class="subtotal">
                <h2>sub-total</h2>
            </div>

        </div>
        <div class="total">
            <h1>Total</h1>
        </div>


    </div>

    <div class="header-background" style="background-image: url('assets/img/header-bg.gif')"></div>
</header>