<header class="header">
    <div class="cart">
        <div class="saludo">
            <h1>Estas son tus reservaciones</h1>
        </div>
        <div class="header-callToAction" *ngFor="let reservacion of reservaciones">
            <div class="reservation-card">
                <div class="btn-delete">
                    <h3> <i class="fas fa-times"></i> </h3>
                </div>
                <h1>{{reservacion.hotel}} - {{reservacion.destino}}</h1>
                <div class="reservation-card-text">
                    <h3>Habitacion: {{reservacion.habs}}</h3>
                    <h3>Habitaciones: {{reservacion.numberOfHabs}}</h3>
                    <h3>Check-In: {{reservacion.checkIn}}</h3>
                    <h3>Check-Out: {{reservacion.checkOut}}</h3>
                </div>
            </div>
            <div class="subtotal">
                <h2>sub-total      {{reservacion.totalPrice}}</h2>
            </div>

        </div>
        <div class="total">
            <h1>Total     {{total}}</h1>
        </div>


    </div>

    <div class="header-background" style="background-image: url('assets/img/header-bg.gif')"></div>
</header>