<app-header></app-header>

<!-- EXPLORA EL MUNDO -->
<section class="section wrap">
    <app-titulo title="Explora Venezuela" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, consequuntur sunt autem nam
            asperiores amet necessitatibus ipsa cum perferendis non veritatis optio sequi totam"> </app-titulo>

    <div class="section-body">
        <div class="table-section-vertical">
            <app-display title="NIEVE" subtitle="Merida" img="assets/img/merida.jpg"> </app-display>
            <app-display title="Desierto" subtitle="Medanos de Coro" img="assets/img/medanos.png"> </app-display>
            <app-display title="SELVA" subtitle="Amazonas" img="assets/img/selva.jpg"> </app-display>
            <app-display title="TRÓPICO" subtitle="Los Roques" img="assets/img/los-roques.jpg"> </app-display>
        </div>
    </div>
    <div class="section-footer">
        <a routerLink="/destinos" class="card-btn-action">Ver Todos los Destinos <i class="fas fa-chevron-right"></i></a>
    </div>
</section>
<!-- FIN EXPLORA EL MUNDO -->

<!-- SECCIONES DE HOTELES -->
<section class="section wrap">

        <app-titulo title="Hoteles y Posadas" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, consequuntur sunt autem nam
        asperiores amet necessitatibus ipsa cum perferendis non veritatis optio sequi totam"> </app-titulo>

    <!-- HOTELES -->
    <div class="section-body">
        <ng-container *ngFor="let hotel of hotels">
            <app-hotel-card [hotel]="hotel"></app-hotel-card>
        </ng-container>
    </div>
    <div class="section-footer">
        <a routerLink="/hoteles" class="card-btn-action">Ver más Hoteles <i class="fas fa-chevron-right"></i></a>
    </div>
</section>
<!-- FIN SECCIONES DE HOTELES -->

<app-contact> </app-contact>