<app-navbar></app-navbar>

<app-header></app-header>

<!-- EXPLORA EL MUNDO -->
<section class="section wrap">
    <div class="section-header">
        <h1>Explora Venezuela</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, consequuntur sunt autem nam
            asperiores amet necessitatibus ipsa cum perferendis non veritatis optio sequi totam
        </p>
    </div>
    <div class="section-body">
        <div class="table-section-vertical">
            <a href="#" class="card">
                <div class="card-footer">
                    <h2>Nieve</h2>
                    <p>Merida</p>
                </div>
                <div class="card-background" style="background-image: url('../../../assets/img/download.jpg');"></div>
            </a>
            <a href="#" class="card">
                <div class="card-footer">
                    <h2>Desierto</h2>
                    <p>Medanos de Coro</p>
                </div>
                <div class="card-background"
                    style="background-image: url('../../../assets/img/Los-Médanos-de-Coro-arena-e1464301993257.png');"></div>
            </a>
            <a href="#" class="card">
                <div class="card-footer">
                    <h2>Selva</h2>
                    <p>Amazonas</p>
                </div>
                <div class="card-background" style="background-image: url('../../../assets/img/selva-venezolana.jpg');"></div>
            </a>
            <a href="#" class="card">
                <div class="card-footer">
                    <h2>Trópico</h2>
                    <p>Los Roques</p>
                </div>
                <div class="card-background" style="background-image: url('../../../assets/img/principal.jpg');"></div>
            </a>
        </div>
        
    </div>
    <div class="section-footer">
        <a href="#" class="card-btn-action">Ver Todos los Destinos <i class="fa fa-chevron-right"></i></a>
    </div>
</section>
<!-- FIN EXPLORA EL MUNDO -->

<!-- SECCIONES DE HOTELES -->
<section class="section wrap">
    <div class="section-header">
        <h1>Hoteles y Posadas</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, consequuntur sunt autem nam
            asperiores amet necessitatibus ipsa cum perferendis non veritatis optio sequi totam
        </p>
    </div>
    <!-- HOTELES -->
    <div class="section-body">
        <app-hotel-card></app-hotel-card>
        <app-hotel-card></app-hotel-card>
    </div>
    <div class="section-footer">
        <a href="#" class="card-btn-action">Ver más Hoteles <i class="fa fa-chevron-right"></i></a>
    </div>
</section>
<!-- FIN SECCIONES DE HOTELES -->

<!-- CONTACT FORM -->
<div class="section wrap">
    <section class="contact-card">
        <h1 class="contact-card-title">Contáctanos</h1>
        <form action="" method="post">
            <div class="form-group">
                <input type="text" name="name" id="contactName" placeholder="Ingrese su Nombre">
                <input type="text" name="email" id="contactEmail" placeholder="Ingrese su Email">
            </div>
            <div class="form-group">
                <input type="text" name="asunto" id="contactAsunto" placeholder="Ingrese el Asunto de su Mensaje">
            </div>
            <div class="form-group">
                <textarea name="message" id="contactMessage" placeholder="Ingrese su Mensaje"></textarea>
            </div>

            <button class="btn btn-primary" type="submit">
                <i class="fa fa-envelope"></i> Enviar Mensaje
            </button>
        </form>
    </section>
</div>
<!-- FIN CONTACT FORM -->