<header class="header">
    <div class="general-buscar header-callToAction">
        <app-titulo title="Ubica tu destino" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, consequuntur sunt autem nam
        asperiores amet necessitatibus ipsa cum perferendis non veritatis optio sequi totam"></app-titulo>
        <div class="blocks">
            <div class="section-buscar">
                <p class="text">
                    Categoría del Destino:
                </p>
                <select class="selector" id="">
                    <option value="">Seleccion la categoría de tu destino</option>
                    <option value="">Nieve</option>
                    <option value="">Desierto</option>
                    <option value="">Selva</option>
                    <option value="">Trópico</option>
                </select>
            </div>
            <div>
                <button class="button-buscar">Buscar</button>
            </div>
        </div>
        <div class="blocks">
            <div class="section-buscar">
                <p class="text">
                    Estado del Destino:
                </p>
                <select class="selector" id="" [(ngModel)]="seleccionado">
                    <option value="">Seleccione el de estado donde se escuentra su destino</option>
                    <option value="{{state.$key}}" *ngFor = "let state of states"> 
                        {{ state.name }} 
                    </option>
                </select>
            </div>

            <div>
                <button class="button-buscar">Buscar</button>
            </div>

        </div>

    </div>
    <div class="header-background" style="background-image: url('assets/img/header-bg.gif')"></div>

</header>

<ul class="texto" id="">
    <li value="" *ngFor="let destino of destinos">
        {{ destino.name }}
    </li>
</ul>




