.section-header {
    margin-bottom: 50px;

    h1 {
        display: block;
        width: 100%;
        height: 50px;
        font-size: 40px;
        color: #fff;
        text-align: center;
        font-weight: 500;
        margin-bottom: 10px;

        /**
        * PHONE
        */
        @media (max-width: 480px) {
            height: auto;
        }

    }

    p {
        width: 600px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        font-size: 1rem;
        font-weight: 300;
        color: #fff;

        /**
        * PHONE
        */
        @media (max-width: 480px) {
            width: 100%;
        }
    }
}