<div class="admin-box">
    <div class="box-header with-border">
        <h2 class="box-title">Todos los Destinos del Sistema</h2>
    </div>
    <div class="box-body">
        <ng-container *ngIf="destinos.length > 0; then destinosExists; else notDestinos"></ng-container>

        <ng-template #destinosExists>
            <table class="table table-border table-stripped">
                <thead>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Nro Estrellas</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr *ngFor="let hotel of destinos">
                        <td>{{ hotel.id }}</td>
                        <td>{{ hotel.name }}</td>
                        <td>{{ hotel.direction }}</td>
                        <td>{{ hotel.stars }}</td>
                        <td class="action-buttons">
                            <a href="" class="btn btn-blue btn-action-table">A</a>
                            <a href="" class="btn btn-warning btn-action-table mx-5">B</a>
                            <a href="" class="btn btn-danger btn-action-table">C</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-template>

        <ng-template #notDestinos>
            <h3 class="info-msg">No hay destinos turísticos disponibles, crea uno <a routerLink="crear">aquí</a></h3>
        </ng-template>
    </div>
</div>