<div class="admin-box admin-box-sm">
    <div class="box-header with-border">
        <h3 class="box-title">Datos Básicos del Hotel</h3>
    </div>
    <div class="box-body">

        <form [formGroup]="createHotelForm" class="form-control" (ngSubmit)="onSubmit()">

            <div class="input-group">
                <label for="hotelName">Nombre del Hotel</label>
                <input formControlName="name" type="text" id="hotelName">
                <small>Este va a ser el nombre que se le mostrará al público.</small>
            </div>

            <div class="input-group">
                <label for="hotelStars">Número de Estrellas</label>
                <input formControlName="stars" type="text" id="hotelStars">
            </div>

            <div class="input-group">
                <label for="hotelLatitud">Latitud del Hotel</label>
                <input formControlName="latitud" type="text" id="hotelLatitud">
            </div>

            <div class="input-group">
                <label for="hotelLongitud">Longitud del Hotel</label>
                <input formControlName="longitud" type="text" id="hotelLongitud">
            </div>

            <div class="input-group">
                <label for="hotelDirection">Dirección del Hotel</label>
                <input formControlName="direction" type="text" id="hotelDirection">
            </div>

            <div class="input-group">
                <label for="hotelState">Estado donde está el Hotel</label>
                <select id="hotelState" formControlName="stateId">
                    <option value="">Seleccione el estado donde está el hotel ubicado</option>
                    <option value="margarita">Margarita</option>
                </select>
            </div>

            <div class="input-group">
                <label for="hotelBanner">Imagen Representativa (Banner)</label>
                <input type="text" id="hotelBanner" placeholder="Ingresa una URL de Imagen para el Banner"
                    formControlName="imgBanner">
            </div>

            <div class="input-group">
                <div class="checkbox">
                    <label for="hotelFullday">
                        <input type="checkbox" name="hotelFullday" id="hotelFullday" formControlName="fullDay"> Full Day
                        (opcional)
                    </label>
                </div>
                <small>Seleccione solo si el hotel cuenta con el servicio full day</small>
            </div>

            <h3 class="form-section-title with-border">
                Datos sobre Habitaciones
            </h3>

            <section class="hab" formArrayName="habs">
                <div *ngFor="let hab of habsForm.controls; let i=index" [formGroupName]="i">

                    <p class="hab-title">Habitacion {{ i + 1 }}</p>

                    <div class="input-group">
                        <label for="">Nombre de la Habitación</label>
                        <input type="text" formControlName="habName">
                    </div>

                    <div class="input-group">
                        <label for="hotelRoomBanner">Imagen Representativa (Banner)</label>
                        <input type="text" id="hotelRoomBanner" formControlName="imgPresentation">
                    </div>

                    <div class="input-group">
                        <label for="">Precio por noche</label>
                        <input type="number" formControlName="pricePerNight">
                        <small>El precio que se ponga aquí será por persona.</small>
                    </div>

                    <div class="input-group">
                        <label for="">Número máximo de personas</label>
                        <input type="number" formControlName="maxPersons">
                    </div>

                    <div class="input-group">
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteRoom(i)">Eliminar
                            Habitación</button>
                    </div>

                </div>

                <div class="input-group">
                    <button type="button" class="btn btn-info btn-sm" (click)="addRoom()">Agregar Habitación</button>
                </div>
            </section>

            <h3 class="form-section-title with-border">
                Imágenes para la Galería
            </h3>

            <section class="imgGallery" formArrayName="imgGallery">
                <div *ngFor="let hab of galleryForm.controls; let i=index" [formGroupName]="i">

                    <p class="img-title">Image {{ i + 1 }}</p>

                    <div class="input-group">
                        <label for="">Seleccione su imagen</label>
                        <input type="text" formControlName="path" placeholder="Ingresa la URL de tu imagen">
                    </div>
                    <div class="input-group">
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteImage(i)">Eliminar
                            Imagen</button>
                    </div>

                </div>

                <div class="input-group">
                    <button type="button" class="btn btn-info btn-sm" (click)="addImage()">Agregar Imagenes</button>
                </div>
            </section>

            <h3 class="form-section-title with-border">
                ¿Qué servicios ofrece el hotel?
            </h3>

            <section class="services" formArrayName="services">
                <div *ngFor="let service of serviceForm.controls; let i=index" [formGroupName]="i">

                    <p class="img-title">Servicio {{ i + 1 }}</p>

                    <div class="input-group">
                        <input type="text" formControlName="path" placeholder="Ingresa un servicio que ofrece el hotel">
                    </div>
                    <div class="input-group">
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteService(i)">Eliminar
                            Servicio</button>
                    </div>

                </div>

                <div class="input-group">
                    <button type="button" class="btn btn-info btn-sm" (click)="addService()">Agregar Servicio</button>
                </div>
            </section>

            <h3 class="form-section-title with-border">
                ¿Qué actividades ofrece el hotel?
            </h3>

            <section class="services" formArrayName="activities">
                <div *ngFor="let service of activityForm.controls; let i=index" [formGroupName]="i">

                    <p class="img-title">Actividad {{ i + 1 }}</p>

                    <div class="input-group">
                        <input type="text" formControlName="path"
                            placeholder="Ingresa una actividad que ofrezca el hotel">
                    </div>
                    <div class="input-group">
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteActivity(i)">Eliminar
                            Actividad</button>
                    </div>

                </div>

                <div class="input-group">
                    <button type="button" class="btn btn-info btn-sm" (click)="addActivity()">Agregar Actividad</button>
                </div>
            </section>

            <button type="submit" class="btn btn-primary" [disabled]="loading">
                <ng-container *ngIf="loading; then cargando; else noCargando"></ng-container>
                <ng-template #cargando>
                    <app-loader></app-loader>
                </ng-template>
                <ng-template #noCargando>
                    Crear Hotel
                </ng-template>
            </button>
        </form>



    </div>
</div>