<div class="table-section-horizontal card">
    <div class="card-brand" [ngStyle]="{ 'background-image': 'url('+ destino.imgBanner +')' }">
    </div>
    <div class="card-body">
        <div class="card-body-title">
            <a [routerLink]="['/destinos', destino.$key]">
                <h1>{{destino.name}}</h1>
            </a>
        </div>
        <div class="card-body-content">
            <div class="box-lg">
                <!-- <h2>Descripcion</h2> -->
                <p>{{destino.description}}</p>
            </div>

        </div>
        <div class="card-footer">
            <div class="box-sm">
                <a [routerLink]="['/destinos', destino.$key]" target="_blank" class="btn btn-primary"
                    class="btn btn-primary btnMover">Ver Más</a>
            </div>
        </div>
        
        <div class="card-body-footer">
            <div class="box-sm">
                <a  [routerLink]="['/destinos', destino.$key]" target="_blank" class="btn btn-primary" class="btn btn-primary btnMover">Ver Más</a>
            </div>
        </div>   
         
    </div>


</div>
