<div class="table-section-horizontal card">
    <div class="card-brand" [ngStyle]="{ 'background-image': 'url('+ destino.imgPresentation +')' }">
    </div>
    <div class="card-body">
        <div class="card-body-title">
            <a [routerLink]=""><h1>{{destino.name}}</h1></a>
            
        </div>
        <div class="card-body-content">
            <div class="box-lg">
                <h2>Descripcion</h2>
                <p>""</p>
            </div>
            
            <div class="box-sm">
                <a href="#" class="btn btn-primary">Ver Más</a>
            </div>
        </div>
    </div>
</div>
