<nav class="navbar-lg wrap">
    <ul>
        <li class="active-link"><a href="/">Inicio <i class="fa fa-chevron-down"></i></a></li>
        <li><a href="#">Explorar <i class="fa fa-chevron-down"></i></a></li>
        <li>
            <a href="#">
                <img src="../../../../assets/img/logo.svg" alt="Logo">
            </a>
        </li>
        <li><a href="#">Itinerario <i class="fa fa-chevron-down"></i></a></li>
        <li class="search-bar">
            <div class="search-box">
                <a id="search-btn-activate" href="#"><i class="fa fa-search"></i> Buscar</a>
                <form class="search-form desactivate" id="search-form" action="" method="get">
                    <input type="text" name="search" id="search" class="search-box">
                    <button type="submit" class="btn-search">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </li>
    </ul>
</nav>

<!-- PHONE NAVBAR -->
<nav class="navbar-sm">
    <ul>
        <li><a href="#"><img src="./img/logo.svg" alt="Logo"></a></li>
        <li><a href="#"><i class="fa fa-bars"></i></a></li>
    </ul>
    <div class="navbar-items">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Explorar</a></li>
            <li><a href="#">Itinerario</a></li>
            <li><a href="#">Buscar</a></li>
        </ul>
    </div>
</nav>