<header class="header header-secondary">
    <div class="header-callToAction secondary-CallToAction">
        <h1 class="subtitle">Crea tu aventura</h1>
    </div>
    <div class="header-background" style="background-image: url('assets/img/principal.jpg')"></div>
</header>

<div class="section wrap">
    <app-titulo title="Crea tu itinerario" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, consequuntur sunt autem nam
    asperiores amet necessitatibus ipsa cum perferendis non veritatis optio sequi totam"></app-titulo>

    <form [formGroup]="formItinerario" class="form-control" (submit)="onSubmit()">

        <!-- SELECCIONAR DESTINO -->
        <section class="section-title">
            <h3>Selecciona un destino con las siguientes características</h3>
            <p>Puedes filtrarlo según el estado o la categoría</p>
        </section>
        <div class="card">
            <div class="card-body">
                <div class="input-group vertical">
                    <select formControlName="destinoState">
                        <option value="">Seleccione el estado donde está el destino</option>
                        <option value="vargas">Vargas</option>
                    </select>
                </div>
                <div class="input-group vertical">
                    <select formControlName="destinoCategory">
                        <option value="">Seleccione la categoría de tu destino</option>
                        <option value="tropico">La Guaira</option>
                    </select>
                </div>
                <div class="input-group vertical">
                    <select formControlName="destinoName">
                        <option value="">Seleccione el destino que deseas</option>
                        <option value="sdr456uj">Pelua </option>
                    </select>
                </div>
            </div>
        </div>
        <!-- FIN SELECCIONAR DESTINO -->

        <!-- SELECCIONAR HOTEL -->
        <section class="section-title">
            <h3>Selecciona un Hotel</h3>
            <p>Puedes seleccionar el hotel de tu preferencia según el destino que hayas escogido anteriormente</p>
        </section>
        <div class="wrap-hotels">
            <div *ngFor="let hotel of hotels; let in=index" class="table-section-horizontal">
                <div class="card-brand" [ngStyle]="{ 'background-image': 'url('+ hotel.imgPresentation +')' }">
                </div>
                <div class="card-body">
                    <div class="card-body-title">
                        <a [routerLink]="">
                            <h1>{{hotel.name}}</h1>
                        </a>
                        <ul class="ranking">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                        </ul>
                    </div>
                    <div class="card-body-content">
                        <div class="box-lg">
                            <h2>Servicios</h2>
                            <ul>
                                <li *ngFor="let service of hotel.services">
                                    <p>{{ service }}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="box-lg">
                            <h2>Actividades</h2>
                            <ul>
                                <li *ngFor="let activity of hotel.activities">
                                    <p>{{ activity }}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="box-sm">
                            <a href="#" class="btn btn-primary">Ver Más</a>
                        </div>
                    </div>
                    <div class="card-body-footer">

                        <div class="custom-radio-btn">
                            <input type="radio" id="hotel-{{in}}" formControlName="hotel" value="{{hotel.$key}}">
                            <label for="hotel-{{in}}" class="radio-control" (click)="onHotelClick(hotel.$key)">
                                Seleccionar Hotel
                            </label>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- FIN SELECCIONAR HOTEL -->

        <!-- REALIZAR RESERVA -->
        <ng-container *ngIf="selectedHotel != null">
            <section class="section-title">
                <h3>Selecciona tu Habitación</h3>
                <p>Puedes seleccionar el tipo de habitaciones que deseas, cuántas deseas y la fecha de entrada y salida
                    del hotel.</p>
            </section>
            <div class="card">
                <div class="card-body">
                    <div class="input-group vertical">
                        <input type="text" placeholder="Ingresar Fecha de Entrada" formControlName="checkin">
                    </div>
                    <div class="input-group vertical">
                        <input type="text" placeholder="Ingresar Fecha de Salida" formControlName="checkout">
                    </div>
                    <div class="input-group vertical">
                        <select formControlName="numberOfHabs" (change)="onChangeHabs($event)">
                            <option value="">Selecciona el Número de Habitaciones</option>
                            <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" value="{{i}}">{{i}}</option>
                        </select>
                    </div>

                </div>
            </div>
        </ng-container>

        <!-- TIPO HABITACIONES -->
        <ng-container *ngFor="let hab of habs.controls; let i = index">
            <div class="card">
                <div class="card-body" [formGroup]="hab">
                    <div class="input-group vertical">
                        <h1>Habitación {{i + 1}}</h1>
                    </div>
                    <div class="input-group vertical">

                        <select formControlName="habType"
                        (change)="onChangeHabType($event, hab)">
                            <option value="">Selecciona el Tipo de tu Habitación</option>
                            <option *ngFor="let room of selectedHotel.rooms" value="{{room.$key}}">{{room.name}}
                            </option>
                        </select>



                    </div>
                </div>
            </div>
        </ng-container>
        <!-- FIN TIPO HABITACIONES -->
        <!-- FIN REALIZAR RESERVA -->

        <!-- BOTON PARA ENVIAR -->
        <div class="card">
            <div class="card-body">
                <button type="submit" class="btn btn-primary btn-block">
                    Enviar
                </button>
            </div>
        </div>
        <!-- FIN BOTON PARA ENVIAR -->

    </form>

</div>