<app-alternative-header title="Crea tu Aventura" background="assets/img/principal.jpg"></app-alternative-header>

<div class="section wrap">
    <!-- <app-titulo title="Crea tu itinerario" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, consequuntur sunt autem nam
    asperiores amet necessitatibus ipsa cum perferendis non veritatis optio sequi totam"></app-titulo> -->

    <form [formGroup]="formItinerario" class="form-control" (submit)="onSubmit()">

        <!-- SELECCIONAR DESTINO -->
        <section class="section-title">
            <h3>Selecciona un destino con las siguientes características</h3>
            <p>Puedes filtrarlo según el estado o la categoría</p>
        </section>
        <div class="card">
            <div class="card-body">
                <div class="input-group vertical">
                    <h2><i class="fas fa-route"></i> Destinos: </h2>
                </div>
                <div class="input-group vertical">
                    <ng-container *ngIf="destinosLoading; then destinosLoader; else noDestinosLoader"></ng-container>

                    <ng-template #destinosLoader>
                        <app-big-loader [smallClass]="true"></app-big-loader>
                    </ng-template>

                    <ng-template #noDestinosLoader>
                        <select formControlName="destinoId" (change)="onChangeDestinoSelect($event)">
                            <option value="">Seleccione el destino que deseas</option>
                            <option *ngFor="let destino of destinos" value="{{destino.$key}}">{{destino.name}}</option>
                        </select>
                    </ng-template>
                </div>
                <div class="input-group vertical">
                    <h2><i class="fas fa-filter"></i> Filtros <small>(Opcionales)</small>:</h2>
                </div>
                <div class="input-group vertical">
                    <select formControlName="destinoStateId">
                        <option value="">Seleccione el estado donde está el destino</option>
                        <option value="9865CGWYG">Vargas</option>
                    </select>
                </div>
                <div class="input-group vertical">
                    <select formControlName="destinoCategoryId">
                        <option value="">Seleccione la categoría de tu destino</option>
                        <option value="098ikvds">Tropico</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- FIN SELECCIONAR DESTINO -->

        <!-- SELECCIONAR HOTEL -->
        <ng-container *ngIf="selectedDestino != null">
            <section class="section-title">
                <h3>Selecciona un Hotel</h3>
                <p>Puedes seleccionar el hotel de tu preferencia según el destino que hayas escogido anteriormente</p>
            </section>
            <div class="wrap-hotels">
                <ng-container *ngIf="hotelsLoading; then hotelsLoader; else noHotelsLoader"></ng-container>

                <ng-template #hotelsLoader>
                    <app-big-loader [smallClass]="true"></app-big-loader>
                </ng-template>

                <ng-template #noHotelsLoader>
                    <div *ngFor="let hotel of hotels; let in=index" class="table-section-horizontal">
                        <div class="card-brand" [ngStyle]="{ 'background-image': 'url('+ hotel.imgPresentation +')' }">
                        </div>
                        <div class="card-body">
                            <div class="card-body-title">
                                <a [routerLink]="">
                                    <h1>{{hotel.name}}</h1>
                                </a>
                                <ul class="ranking">
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                </ul>
                            </div>
                            <div class="card-body-content">
                                <div class="box-lg">
                                    <h2>Servicios</h2>
                                    <ul>
                                        <li *ngFor="let service of hotel.services">
                                            <p>{{ service.path }}</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="box-lg">
                                    <h2>Actividades</h2>
                                    <ul>
                                        <li *ngFor="let activity of hotel.activities">
                                            <p>{{ activity.path }}</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="box-sm">
                                    <a href="#" class="btn btn-primary">Ver Más</a>
                                </div>
                            </div>
                            <div class="card-body-footer">

                                <div class="custom-radio-btn">
                                    <input type="radio" id="hotel-{{in}}" formControlName="hotelId"
                                        value="{{hotel.$key}}">
                                    <label for="hotel-{{in}}" class="radio-control"
                                        (click)="onHotelSelected(hotel.$key)">
                                        Seleccionar Hotel
                                    </label>
                                </div>


                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </ng-container>
        <!-- FIN SELECCIONAR HOTEL -->

        <!-- REALIZAR RESERVA -->
        <ng-container *ngIf="selectedHotel != null">
            <section class="section-title">
                <h3>Selecciona tu Habitación</h3>
                <p>Puedes seleccionar el tipo de habitaciones que deseas, cuántas deseas y la fecha de entrada y salida
                    del hotel.</p>
            </section>
            <div class="card">
                <div class="card-body">
                    <div class="input-group vertical">
                        <input type="text" placeholder="Numero de noches" formControlName="numberOfDays">
                        </div>
                        <div class="input-group vertical">
                            <p>Fecha de entrada</p>
                            <div class="input-group vertical">
                                <select formControlName="checkInDays" placeholder="Dia">
                                    <option value="">Dia</option>
                                    <option value="{{i}}"*ngFor="let i of [01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,30,31]">
                                        {{i}}
                                    </option>
                                </select>
                            </div>
                            <div class="input-group vertical">
                                <select formControlName="checkInMonth">
                                    <option value="">Mes</option>
                                    <option value="{{i}}" *ngFor="let i of [01,02,03,04,05,06,07,08,09,10,11,12]">
                                        {{i}}</option>
                                </select>
                            </div>
                            <div class="input-group vertical">
                                <select formControlName="checkInYear">
                                    <option value="">Año</option>
                                    <option value="{{i}}" *ngFor="let i of [2019,2020,2021,2021,2023,2025]">
                                        {{i}}</option>
                                </select>
                            </div>
                            </div>
                            <div class="input-group vertical">
                                    <p>Fecha de salida</p>
                                    <div class="input-group vertical">
                                        <select formControlName="checkOutDays" placeholder="Dia">
                                            <option value="">Dia</option>
                                            <option value="{{i}}"*ngFor="let i of [01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,30,31]">
                                                {{i}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="input-group vertical">
                                        <select formControlName="checkOutMonth">
                                            <option value="">Mes</option>
                                            <option value="{{i}}" *ngFor="let i of [01,02,03,04,05,06,07,08,09,10,11,12]">
                                                {{i}}</option>
                                        </select>
                                    </div>
                                    <div class="input-group vertical">
                                        <select formControlName="checkOutYear">
                                            <option value="">Año</option>
                                            <option value="{{i}}" *ngFor="let i of [2019,2020,2021,2021,2023,2025]">
                                                {{i}}</option>
                                        </select>
                                    </div>
                                    </div>
                    <div class="input-group vertical">
                        <select formControlName="numberOfHabs" (change)="onChangeNumberHabs($event)">
                            <option value="">Selecciona el Número de Habitaciones</option>
                            <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" value="{{i}}">{{i}}</option>
                        </select>
                    </div>

                </div>
            </div>
        </ng-container>

        <!-- TIPO HABITACIONES -->
        <ng-container *ngIf="numberOfHabs > 0">
            <div class="card" *ngFor="let hab of formItinerario['controls'].habs['controls']; let i = index">
                <div class="card-body" [formGroup]="hab">
                    <div class="input-group vertical">
                        <h1>Habitación {{i + 1}}</h1>
                    </div>
                    <div class="input-group vertical">

                        <ng-container *ngIf="habsLoading; then habLoader; else noHabLoader"></ng-container>

                        <ng-template #habLoader>
                            <app-big-loader [smallClass]="true"></app-big-loader>
                        </ng-template>

                        <ng-template #noHabLoader>
                            <select formControlName="habType" (change)="onChangeHabType($event, i)">
                                <option value="">Selecciona el Tipo de tu Habitación</option>
                                <option *ngFor="let room of rooms" value="{{room.$key}}">
                                    {{room.name}}
                                </option>
                            </select>
                        </ng-template>

                    </div>
                    <div class="input-group vertical">
                        <div formArrayName="persons">
                            <ng-container *ngFor="let person of hab['controls'].persons['controls']; let ip=index">
                                <div class="input-group vertical">
                                    <h3>Acompañante {{ip + 1}}</h3>
                                </div>
                                <div formGroupName="{{ip}}">
                                    <div class="input-group vertical">
                                        <input type="text" formControlName="name"
                                            placeholder="Ingresar el nombre del acompañante">
                                    </div>
                                    <div class="input-group vertical">
                                        <input type="text" formControlName="lastName"
                                            placeholder="Ingresar el apellido del acompañante">
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <!-- FIN TIPO HABITACIONES -->
        <!-- FIN REALIZAR RESERVA -->

        <!-- BOTON PARA ENVIAR -->
        <div class="card">
            <div class="card-body">
                <button type="submit" class="btn btn-primary btn-block">
                    Enviar
                </button>
            </div>
        </div>
        <!-- FIN BOTON PARA ENVIAR -->

    </form>

</div>