<header class="header header-secondary">
    <div class="header-callToAction secondary-CallToAction">
        <h1 class="subtitle">Destinos<span>Disponibles</span></h1>
        <!-- <div class="btn-callToAction subHeader">
            <a href="#" class="btn btn-primary">Crear Itinerario</a>
        </div> -->
    </div>
    <div class="header-background" style="background-image: url('assets/img/principal.jpg')"></div>
</header>

<div class="section wrap">
    <app-titulo title="Destinos Disponibles" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, consequuntur sunt autem nam
    asperiores amet necessitatibus ipsa cum perferendis non veritatis optio sequi totam"></app-titulo>

    <ng-container *ngFor="let destino of destinos">
        <app-destino-card [destino]= destino></app-destino-card>
    </ng-container>



</div>


