<div class="admin-box admin-box-sm">
    <div class="box-header with-border">
        <h3 class="box-title">Datos Básicos del Estado</h3>
    </div>
    <div class="box-body">

        <form [formGroup]="createStateForm" class="form-control" (ngSubmit)="onSubmit()">

            <div class="input-group">
                <label for="stateName">Nombre del Estado</label>
                <input formControlName="name" type="text" id="stateName">
                <small>Este va a ser el nombre que se le mostrará al público.</small>
            </div>

            <div class="input-group">
                <label for="stateDescription">Descripción del Estado</label>
                <input formControlName="description" type="text" id="stateDescription">
                <small>Esta va a ser la descripcion que se le mostrará al público.</small>
                
            </div>


            <div class="input-group">
                <label for="stateBanner">Imagen Representativa (Banner)</label>
                <input type="text" id="stateBanner" placeholder="Ingresa una URL de Imagen para el Banner"
                    formControlName="imgBanner">
            </div>


            <button type="submit" class="btn btn-primary" [disabled]="loading">
                <ng-container *ngIf="loading; then cargando; else noCargando"></ng-container>
                <ng-template #cargando>
                    <app-loader></app-loader>
                </ng-template>
                <ng-template #noCargando>
                    Crear Estado
                </ng-template>
            </button>
        </form>



    </div>
</div>