<ng-container *ngIf="loading; then loader; else noLoader"></ng-container>

<ng-template #loader>
    <app-big-loader [absoluteClass]="true"></app-big-loader>
</ng-template>

<ng-template #noLoader>
    <!-- HEADER -->
    <app-alternative-header title="{{hotel.name}}" background="{{hotel.imgPresentation}}">
    </app-alternative-header>
    <!-- FIN HEADER -->
    <!-- GALERIA DE FOTOS -->
    <section class="section wrap">
        <div class="section-body">
            <div class="gallery">
                <div class="gallery-img-control" *ngFor="let foto of galeria">
                    <img [src]="foto.path" alt="Foto 1">
                </div>
            </div>
        </div>
    </section>
    <!-- FIN GALERIA DE FOTOS -->
    <!-- SERVICIOS -->
    <section class="section wrap">
        <app-titulo title="Actividades y Servicios"></app-titulo>
        <div class="services-wrapper">
            <div class="col">
                <h2>Actividades</h2>
                <ul>
                    <li *ngFor="let actividad of hotel.activities">
                        {{actividad.path}}
                    </li>
                </ul>
            </div>
            <div class="col">
                <h2>Servicios</h2>
                <ul>
                    <li *ngFor="let servicio of hotel.services">
                        {{servicio.path}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="box-lg">
            <h2>Actividades</h2>
            <ul style="list-style-type:none">
                <li *ngFor="let activity of hotel.activities">
                    <p>{{ activity.path }}</p>
                </li>
            </ul>
        </div>
    </section>
    <!-- FIN DE SERVICIOS -->
    <!-- HABITACIONES -->
    <section class="section wrap">
        <app-titulo title="Habitaciones"> </app-titulo>

        <div class="section-body">
            <div class="table-section-vertical">
                <ng-container *ngFor="let hab of habs">
                    <a (click)='editButtonClick(hab.$key)' class="card" *ngIf="hab.available > 0">
                        <div class="card-footer">
                            <h2>{{hab.name}}</h2>
                            <p>{{hab.maxPersons}} personas</p>
                            <p>$ {{hab.pricePerNight}} / por noche</p>
                        </div>
                        <div class="card-background" [ngStyle]="{'background-image': 'url('+hab.imgPresentation+')'}">
                        </div>
                    </a>
                </ng-container>
            </div>
        </div>
    </section>
    <!-- FIN HABITACIONES -->

    <!-- <section class="section wrap">
        <div class="card-brand" [ngStyle]="{ 'background-image': 'url('+ hotel.imgPresentation +')' }">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.2956446424214!2d-66.85861138542167!3d10.477343867508312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a580bf3019d6b%3A0x3eb43f7f6f9942e1!2sInterContinental%20Tamanaco%20Caracas!5e0!3m2!1ses!2sve!4v1571892833482!5m2!1ses!2sve" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div class="box-lg">
            <h2>Servicios</h2>
            <ul>
            <li *ngFor="let service of hotel.services">
                <p>{{ service }}</p>
            </li>
            </ul>
            </div>
        <div class="box-lg">
            <h2>Actividades</h2>
            <ul>
            <li *ngFor="let activity of hotel.activities">
                <p>{{ activity }}</p>
            </li>
            </ul>
        </div>
    </section> -->

</ng-template>