<ng-container *ngIf="loading; then loader; else noLoader"></ng-container>

<ng-template #loader>
    <app-big-loader [absoluteClass]="true"></app-big-loader>
</ng-template>

<ng-template #noLoader>
    <!-- HEADER -->
    <app-alternative-header title="{{hotel.name}}" background="{{hotel.imgPresentation}}">
    </app-alternative-header>
    <!-- FIN HEADER -->
    <!-- HABITACIONES -->
    <section class="section wrap">
        <app-titulo title="Habitaciones" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, consequuntur sunt autem nam
                asperiores amet necessitatibus ipsa cum perferendis non veritatis optio sequi totam"> </app-titulo>

        <div class="section-body">
            <div class="table-section-vertical">
                <ng-container *ngFor="let hab of hotel.rooms">
                    <app-display title="{{hab.habName}}"
                        subtitle="Capacidad: {{hab.maxPersons}} personas || Precio por Noche: {{hab.pricePerNight}}$"
                        img="{{hab.imgPresentation}}">
                    </app-display>
                </ng-container>
                <!-- <app-display title="DOBLE" subtitle="1 cama queen" img="assets/img/tamanaco-doble.jpg"> </app-display>
                <app-display title="SENCILLA" subtitle="1 cama matrimonial" img="assets/img/tamanaco-sencilla.jpg">
                </app-display>
                <app-display title="BUSINESS" subtitle="2 camas individuales" img="assets/img/tamanaco-business.jpg">
                </app-display> -->
            </div>
        </div>
    </section>
    <!-- FIN HABITACIONES -->

    <!-- <section class="section wrap">
        <div class="card-brand" [ngStyle]="{ 'background-image': 'url('+ hotel.imgPresentation +')' }">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.2956446424214!2d-66.85861138542167!3d10.477343867508312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a580bf3019d6b%3A0x3eb43f7f6f9942e1!2sInterContinental%20Tamanaco%20Caracas!5e0!3m2!1ses!2sve!4v1571892833482!5m2!1ses!2sve" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div class="box-lg">
            <h2>Servicios</h2>
            <ul>
            <li *ngFor="let service of hotel.services">
                <p>{{ service }}</p>
            </li>
            </ul>
            </div>
        <div class="box-lg">
            <h2>Actividades</h2>
            <ul>
            <li *ngFor="let activity of hotel.activities">
                <p>{{ activity }}</p>
            </li>
            </ul>
        </div>
    </section> -->

</ng-template>