@import 'variables';

.section {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;

    /**
    * PHONE
    */
    @media (max-width: 480px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .services-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;   
        color: #fff;

        .col {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }

    .section-body {

        display: block;
        width: 100%;

        .table-section-vertical {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            column-gap: 16px;

            /**
            * PHONE
            */
            @media (max-width: 480px) {
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: 1fr;
                row-gap: 16px;
            }

            & >.card {
                display: block;
                position: relative;
                width: 100%;
                height: 400px;

                .card-footer {
                    display: block;
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    height: 100px;
                    z-index: 10;
                    // background: green;

                    h2 {
                        font-size: 40px;
                        color: #fff;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: 900;
                    }

                    p {
                        font-size: 1rem;
                        color: #fff;
                        text-align: center;
                        font-weight: 300;
                    }
                }

                .card-background {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    background-size: cover;
                    background-position: center;
                    overflow: hidden;

                    &:hover {
                        &::before, &::after{
                            transform: scale(1.5);
                            transition: $transitionConfig ease-in-out;
                        }
                    }

                    &::before,
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transition: $transitionConfig ease-in-out;
                    }

                    &::before {
                        z-index: 2;
                        background: $cardGradient;
                    }

                    &::after {
                        z-index: 3;
                        transform: translateY(100%);
                        opacity: 0;
                    }
                }

            }
        }

        .gallery-text {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 200px;
            column-gap: 0;
            grid-auto-flow: dense;

            .container-gallery {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 200px;
                column-gap: 0;
                overflow: hidden;
                grid-auto-flow: dense;

                img {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    height: 100%;
                    width: 100%;
                    z-index: 5;
                }

                .info {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    grid-column-start: 2;
                    grid-column-end: 3;
                    background: $secondaryColor;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        transform: rotateZ(-45deg);
                        left: -10px;
                        z-index: 1;
                        background: $primaryColor;
                    }

                    p {
                        display: block;
                        width: 90%;
                        font-size: .8rem;
                        font-weight: 300;
                        color: #fff;
                        padding: 20px;
                        text-align: justify;
                        align-items: center;
                    }
                }

                // @include between(3, 4) {
                //     img {
                //         grid-column-start: 2;
                //         grid-column-end: 3;
                //     }

                //     .info {
                //         grid-column-start: 1;
                //         grid-column-end: 2;

                //         &::before {
                //             left: auto;
                //             right: -10px;
                //         }
                //     }
                // }
            }
        }

        .gallery {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            // grid-template-rows: 200px 200px;
            column-gap: 16px;
            row-gap: 32px;

            &-img-control {
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

    }

    .section-footer {
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        // background: #ccc;
        text-align: center;
        font-size: 16px;
        margin-top: 30px;

        a {
            text-decoration: none;
            color: $primaryColor;

            i {
                display: inherit;
                line-height: inherit;
                margin-left: 10px;
                font-size: 15px;
            }
        }
    }

}

.table-section-horizontal {
    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    &:last-child {
        margin-bottom: 0;
    }

    /**
    * PHONE
    */
    @media (max-width: 480px) {
        grid-template-rows: 200px 1fr;
        grid-template-columns: 1fr;
    }

    &.card {
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;

        /**
        * PHONE
        */
        @media (max-width: 480px) {
            height: auto;
        }
    }

    .card-brand {
        position: relative;
        width: 300px;
        height: 100%;
        // background: #000;
        grid-column-start: 1;
        grid-column-end: 2;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        /**
        * PHONE
        */
        @media (max-width: 480px) {
            grid-column-start: auto;
            grid-column-end: auto;
        }

        img {
            width: 100%;
            height: auto;

            /**
            * PHONE
            */
            @media (max-width: 480px) {
                width: 100%;
                height: 100%;
            }
        }
    }

    .card-body {
        position: relative;
        grid-column-start: 2;
        grid-column-end: 5;
        width: 100%;
        background: $secondaryColor;
        padding: 20px 40px;
        color: #fff;

        /**
        * PHONE
        */
        @media (max-width: 480px) {
            padding: 20px 15px;
            grid-column-start: auto;
            grid-column-end: auto;
        }

        &-title {
            // display: flex;
            // flex-direction: row;

            /**
            * PHONE
            */
            @media (max-width: 480px) {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
            }

            a {
                text-decoration: none;
                color: inherit;
            }

            h1 {
                display: block;
                // height: 50px;
                font-size: 40px;
                font-weight: 900;
                text-transform: uppercase;

                /**
                * PHONE
                */
                @media (max-width: 480px) {
                    height: auto;
                    text-align: center;
                    width: 100%;
                }
            }

            ul.ranking {
                display: flex;

                /**
                * PHONE
                */
                @media (max-width: 480px) {
                    margin: auto;
                }

                li {
                    list-style: none;
                    margin-left: 10px;

                    &:first-child {
                        margin-left: 0;
                    }

                    a {
                        font-size: 20px;
                        text-align: center;
                        line-height: 50px;
                        color: #fff;
                        text-decoration: none;

                        i {
                            color: #ecec27;
                        }
                    }
                }
            }
        }

        &-content {
            display: flex;
            flex-direction: row;

            /**
            * PHONE
            */
            @media (max-width: 480px) {
                flex-direction: column;
                width: 100%;
            }

            .box-lg {
                flex: 1;

                /**
                * PHONE
                */
                @media (max-width: 480px) {
                    display: none;
                }

                h2 {
                    margin-bottom: 10px;
                    font-weight: normal;

                    /**
                    * PHONE
                    */
                    @media (max-width: 480px) {
                        text-align: center;
                    }
                }

                ul {
                    padding-left: 20px;

                    /**
                    * PHONE
                    */
                    @media (max-width: 480px) {
                        margin-bottom: 10px;
                    }

                    li {
                        margin-top: 5px;

                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }

            }

            .box-sm {
                display: none;

                /**
                * PHONE
                */
                @media (max-width: 480px) {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    flex: 1;
                }
            }

        }
    }
}