<!-- HEADER -->
<header class="header header-secondary">
        <div class="header-callToAction secondary-CallToAction">
            <h1 class="subtitle">Tamanaco Intercontinental</h1>
            
        </div>
        <div class="header-background" style="background-image: url('assets/img/tamanaco.jpg')"></div>
</header>
<!-- FIN HEADER -->
<!-- EXPLORA EL MUNDO -->
<section class="section wrap">
        <app-titulo title="Habitaciones" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, consequuntur sunt autem nam
                asperiores amet necessitatibus ipsa cum perferendis non veritatis optio sequi totam"> </app-titulo>
    
        <div class="section-body">
            <div class="table-section-vertical">
                <app-display title="SUITE" subtitle="1 cama king" img="assets/img/tamanaco-suite.jpg"> </app-display>
                <app-display title="DOBLE" subtitle="1 cama queen" img="assets/img/tamanaco-doble.jpg"> </app-display>
                <app-display title="SENCILLA" subtitle="1 cama matrimonial" img="assets/img/tamanaco-sencilla.jpg"> </app-display>
                <app-display title="BUSINESS" subtitle="2 camas individuales" img="assets/img/tamanaco-business.jpg"> </app-display>
            </div>
        </div>
    </section>
    <!-- FIN EXPLORA EL MUNDO -->
