<!-- CONTACT FORM -->
<div class="section wrap" id="contacto">
    <section class="contact-card">
        <h1 class="contact-card-title">Contáctanos</h1>
        <form [formGroup]="contactForm">
            <div class="form-group">
                <input type="text" id="contactName" placeholder="Ingrese su Nombre" formControlName="contactName">
                <input type="text" id="contactEmail" placeholder="Ingrese su Email" formControlName="contactEmail">
            </div>
            <div class="form-group">
                <input type="text" id="contactAsunto" placeholder="Ingrese el Asunto de su Mensaje" formControlName="contactAsunto">
            </div>
            <div class="form-group">
                <textarea id="contactMessage" placeholder="Ingrese su Mensaje" formControlName="contactMessage"></textarea>
            </div>

            <button (click)="contactar()" class="btn btn-primary" type="submit">
                <script>contactEmail</script>
                <i class="fas fa-envelope"></i> Enviar Mensaje
            </button>
        </form>
    </section>
</div>
<!-- FIN CONTACT FORM -->